# Nothing feature
type vendor_nothing_feature_prop, property_type, vendor_property_type, vendor_public_property_type;

# Nothing Camera runtime properties
vendor_public_prop(vendor_camera_config_prop)